.productWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 1em;
}

.productCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  gap: 1em;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
padding: 1em;
  border-radius: 10px;
}

.productCard img {
  width: 100%;
}
