.cartWrapper {
  margin-top: 2em;
  text-align: center;
}

.inCart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
}
.trash {
  width: 2em;
  height: 2em;
  background-image: url("../../assets/Trash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trash:hover {
  background-image: url("../../assets/Trash-hover.gif");
}

.inCart .inCart button {
  margin-bottom: 1em;
}
